.footer {
    background-color: rgb(85, 185, 124);
    position:relative;
    left:0px;
    bottom:0px;
    height:70px;
    width:100%;
    margin-top: 0;
    margin-bottom: 0;
}

.footer__text {
    font-size: small;
    text-align: center;
    margin-top: 30px;
}
